.container{
	height: auto;
	width: 42%;
	margin: auto;
	margin-top: 10%;
	min-width: 200px;
	max-width: 450px;
}

.logo{
	text-align: center;
}
.slogan{
	text-align: center;
	margin-top: -4%;
	color: grey;
}
.welcome{
	margin-top: 50px;
}
.welcome h2{
	text-align: center;

}
.welcome p{
	text-align: center;
	margin-top: -2.5%;
	color: darkgrey;
}
#input, #password, #confirm_password{
	width: 99%;
	height: 40px;
	border-radius: 8px;
	background: #e6e6ff;
	border: none;
	text-indent: 10px;
	margin-top: -2%;
}
.sign_in{
	margin-top: 15%;
	height: 45px;
	background: blue;
	border-radius: 8px;
  background-color: blue; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, blue , skyblue);
}
button{
	height: 40px;
	width: 99%;
	text-align: center;
	color: white;
	background: none;
	border: none;
	border-radius: 8px;
}